img.logo-eas {
    width: 17%;
    border-radius: 50%;
    float: left;
}
.logo-link-container {
    display: inline-block !important;
    width: 75%;
}
.eas-navbar {
    padding: 30px;
    background: #fff !important;
    border-bottom: 1px solid #ececec;
}
.secondary-header-container .eas-navbar-btn {
    border: 0px solid transparent;
}
