body {
    background: #ececec47;
}
.presentation-textuel, .presentation-image {
    width: 50%;
}
.presentation-img {
    width: 100%;
    margin: 30px 0;
}
.presentation-row {
    padding: 35px 0;
}
.eas-greeny-color {
    color: #387C62;
    font-weight: 900;
}
.category-item-container.maths {
    background: #5FCAA2;
}
.category-item-container {
    text-align: center;
    padding: 95px;
    margin: 0 15px;
    margin-bottom: 20px;
}
.section-title {
    padding: 40px 0;
    position: relative;
}
.section-title:after {
    content: "";
    width: 79px;
    height: 7px;
    background: #387C62;
    position: absolute;
    left: 0;
    top: 76%;
}
.category-label {
    display: block;
    padding: 2px;
    font-size: 37px;
    font-weight: 600;
    color: #fff;
}
.hist-geo {
    background: #51B6CC;
}
.pc {
    background: #91AADB;
}
.svt {
    background: #CE91E3;
}
.partner-item-container {
    margin-bottom: 20px;
}